.center {
    padding: 70px 0;

    text-align: center;
}
.blink_me {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% { opacity: 0; }
}

.modal-open[style], #app-layout {
    padding-right: 0px !important;
}